body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #0f172a;
    color: white;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    width: 100%;
    background: rgba(15,23,42,0.95);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.hero img {
    width: 300px;
    border-radius: 12px;
}

.section {
    padding: 80px 10%;
}

.dark {
    background: #1e293b;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.project-card {
    background: #0f172a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn {
    background: #3b82f6;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}

.btn-outline {
    border: 1px solid #3b82f6;
    padding: 10px 20px;
    text-decoration: none;
    color: #3b82f6;
    border-radius: 6px;
}
